=====================================================
Welcome to High-Availability DevOps Platform!
Node: {{ ansible_hostname | upper }}
OS:   {{ ansible_distribution }} {{ ansible_distribution_version }}
Managed automatically via Ansible Roles.
=====================================================