# Хранилище данных Vault на диске контейнера
storage "file" {
  path = "/opt/vault/data"
}

# Сетевой интерфейс, который будет слушать Vault
listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = "true" # Отключаем внутренний TLS, так как шифрованием занимается Nginx на Proxmox
}

# Включаем веб-интерфейс (UI), чтобы ты мог зайти в него через браузер ноута
ui = true

# Отключаем дефолтное поведение своппинга памяти, так как в LXC это может вызвать ошибки прав
disable_mlock = true